
YandexML/Week1/titanic_answer_1.txt
YandexML/Week1/titanic_answer_2.txt
YandexML/Week1/titanic_answer_3.txt
YandexML/Week1/titanic_answer_4.txt
YandexML/Week1/titanic_answer_5.txt
YandexML/Week1/titanic_answer_6.txt
YandexML/Week1/titanic_decision_trees_answer.txt
YandexML/Week2/neighbours_1.txt
YandexML/Week2/neighbours_2.txt
YandexML/Week2/neighbours_3.txt
YandexML/Week2/neighbours_4.txt
YandexML/Week2/boston_answer.txt
